<div class="jumbotron">
	<div class="container">
		<h1><%= __('home:welcome.text') %></h1>
		<p><%= __('home:punch-line.text') %></p>
		<p><a href="/auth/signup" class="btn btn-primary btn-lg"><%= __('home:join-now.text') %></a></p>
	</div>
</div>